/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--background-color);
  background-image: url("../images/cover-image-dark.png");
  background-attachment: fixed;
  background-position: center;
}

/* ИТОГО: НАЧИНАЕМ С МОБИЛЫ,
    ТАК ПРОЩЕ ТАК КАК КОЛОНКА ОДНА. Делаем всё через гриды,
    так как легко адаптировать под разные экраны. выстроить body по grid */


body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
  font-family: IBM Plex Mono;

}

.header {
  display: grid;
  grid-template-areas:
    "rec"
    "navigation"
    "no-focus"
    "text";
  grid-area: header;

  /* min-height: 668px; */
}

.header__rec {
  position: relative;
  grid-area: rec;
  justify-self: end;
  margin: 10px 38px 0px 0px;
  min-width: 33px;
  color: var(--accent-color);

  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

/* Точка */
.header__rec::before {
  position: absolute;
  top: 8px;
  right: -19px;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  border-radius: 50%;
  background-color: var(--accent-color);
  width: 9px;
  height: 9px;
  content: "";
}

/* Граница */
/* .header__rec::after {
  position: absolute;
  top: 0;
  right: -28px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  width: 25px;
  height: 25px;
  content: "";
} */

.header__theme-menu {
  display: flex;
  grid-area: navigation;
  justify-self: end;
  /* margin: 75px 10px 65px 295px; */
  margin: 39px 10px 0 0;

}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.header__theme-menu-item {
  color: var(--accent-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.header__theme-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: transparent;
  background-color: transparent;
  min-inline-size: 70px;
  min-block-size: 26px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__no-focus {
  grid-area: no-focus;
  margin: 67px 0 0 10px;
  color: #DB00FF;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__title {
  margin: 55px 10px 66px 10px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--background-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  position: absolute;
  width: 25px;
  height: 25px;
  content: "";
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.main {
  grid-area: main;
}

.main__section {
  grid-template-columns: 1fr;
  margin: 40px 10px 50px;
}

.main__section-title {
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;

}

.main__article-title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.main__article-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}

.main__article-subtitle {
  margin-top: 19.5px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}

/* Media
.section1 {
  grid-template-columns: 1f;
}

.section2 {
  grid-template-columns: 1f;
}

.section3 {
  grid-template-columns: 1f;
} */

.gallery__item img {
  max-width: 100%;
  height: auto;
}

.footer {
  grid-area: footer;
  background-color: green;
  min-height: 50px;
}