/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-color: #00183F; /* Тёмный фон */
  --text-color: #F1B2CE; /* Светлый текст */
  /* --button-bg: #444444; Тёмный фон для кнопок */
  /* --button-hover-bg: #888888; При наведении на кнопки */
  --accent-color: #ff0070; /* Тёмный акцент */
}
