/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-color: #000028; /* Тёмный фон */
  --text-color: #F1B2CE; /* Светлый текст */
  --accent-color: #ff0070; /* Тёмный акцент */
  --focus-color: #DB00FF; /* Цвет для focus/no-focus*/
  --button-color: #ff0070; /* Цвет для кнопки*/
  --button-hover-color: #FF007066; /* Цвет наведения для кнопки*/
}

